<div class="container-fluid m-0 p-0">
    <div class="row m-0 p-0">
        <div class="col-lg-6 bg-red px-0 d-flex justify-content-end">
            <div class="col-lg-6 login-container-left align-self-center">
                <div class="login-style-left py-3 d-flex justify-content-center flex-column">
                    <img src="" class="logo align-self-center">
                    <h4 class="text-light text-center">TILAH - Maligaya Branch</h4>
                    <h6 class="text-light text-center">INVENTORY SYSTEM</h6>
                </div>
            </div>
        </div>
        <div class="col-lg-6 white px-0 d-flex justify-content-start">
            <div class="col-lg-6 login-container-right align-self-center">
                <div class="login-style-right p-3">
                    <h3 class="text-center mb-3 text-uppercase text-spacing text-red">Login</h3>
                    <hr class="hr-style">
                    <form [formGroup]="myform" class="">
                        <div class="md-form">
                            <input mdbInput mdbValidate type="text" formControlName="username" name="userName" [(ngModel)]="userName" required
                                id="uname" class="form-control">
                                <label for="uname">Type your username</label>
                                <mdb-error *ngIf="username.invalid && (username.dirty || username.touched)">**Input Invalid</mdb-error>
                                <!-- <mdb-success *ngIf="username.valid && (username.dirty || username.touched)">Input Valid</mdb-success> -->
                        </div>
                        <div class="md-form">
                            <input mdbInput mdbValidate type="password" formControlName="password" name="passWord" [(ngModel)]="passWord" required
                                id="pword" minlength="6" class="form-control">
                                <label for="pword">Type your password</label>
                                <mdb-error *ngIf="password.invalid && (password.dirty || password.touched)">**Input Invalid</mdb-error>
                                <!-- <mdb-success *ngIf="password.valid && (password.dirty || password.touched)">Input Valid</mdb-success> -->
                        </div>
                        <div class="md-form d-flex justify-content-center">
                            <button mdbBtn class="btn btn-outline-danger btn-sm my-2 hvr-grow" (click)="clickLogin(deletedModal)">Log In</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #deletedModal let-modal>
    <div class="modal-header bg-success py-4">
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body d-flex justify-content-center py-3" [ngSwitch]="action">
        <h5 class="modal-title" *ngSwitchCase="'user'">Logged In! Welcome User!</h5>
        <h5 class="modal-title" *ngSwitchCase="'admin'">Logged In! Welcome Admin!</h5>
        <h5 class="modal-title" *ngSwitchCase="'invalid'">Invalid or Incorrect Credentials!</h5>
        <div class="modal-body d-flex justify-content-center">
            <button type="button" class="btn btn-success" *ngIf="action == 'admin'" (click)="clickOk('dashboard'); modal.dismiss()">OK</button>
            <button type="button" class="btn btn-success" *ngIf="action == 'user'" (click)="clickOk('pointOfSale'); modal.dismiss()">OK</button>
            <button type="button" class="btn btn-success" *ngIf="action == 'invalid'" (click)="clickOk('login'); modal.dismiss()">OK</button>
        </div>
    </div>
</ng-template>