<div class="container-fluid p-0 m-0">
    <mdb-navbar SideClass="navbar navbar-1 navbar-light bg-red-style text-light lighten-2" [containerInside]="false">
        <mdb-navbar-brand>
            <a class="navbar-brand link-unstyled text-light brand-style mb-1" routerLink="/dashboard">
                <h5 class="mb-0 pb-0">TILAH SEED CENTER</h5><br>
                <small>Maligaya Branch</small>
            </a>
        </mdb-navbar-brand>
        <links>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a routerLink="/seed" class="nav-link link-unstyled text-light">Seed<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a routerLink="/user" class="nav-link link-unstyled text-light" [hidden]="role">User</a>
                </li>
                <li class="nav-item">
                    <a (click)="logoutModal(logout)" class="nav-link link-unstyled text-light">Logout</a>
                </li> 
            </ul>
        </links>
    </mdb-navbar>
    <div class="row mx-0">
        <div class="col-lg-8 mx-auto">
            <h4 class="bg-header text-light p-3 text-center my-2 shadow">Seed Sales Report</h4>
            <form (submit)="setChartData()">
                <div class="my-2">
                    <label>Choose category</label>
                    <select name="cat" [(ngModel)]="cat" class="form-control">
                        <option selected="selected" disabled>Choose Category</option>
                        <option *ngFor="let cat of category" [ngValue]="cat">{{cat}}</option>
                    </select>
                    <div *ngIf="cat != ''">
                        <div *ngIf="cat == 'Seed Name'" class="my-2 row">
                            <div class="col-lg-6">
                                <select name="seedname" [(ngModel)]="seedname" class="form-control">
                                    <option selected="selected" disabled>Choose Seed Name</option>
                                    <option *ngFor="let s of seeds" [ngValue]="s.name">{{s.name}}</option>
                                </select>
                            </div>
                            <div class="col-lg-6">
                                <select name="seedname1" [(ngModel)]="seedname1" class="form-control">
                                    <option selected="selected" disabled>Choose Seed Name</option>
                                    <option *ngFor="let s of seeds" [ngValue]="s.name">{{s.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div *ngIf="cat == 'Seed Variety'" class="my-2 row">
                            <div class="col-lg-6">
                                <select name="seedvariety" [(ngModel)]="seedvariety" class="form-control">
                                    <option selected="selected" disabled>Choose Variety</option>
                                    <option *ngFor="let v of variety" [ngValue]="v">{{v|titlecase}}</option>
                                </select>
                            </div>
                            <div class="col-lg-6">
                                <select name="seedvariety1" [(ngModel)]="seedvariety1" class="form-control">
                                    <option selected="selected" disabled>Choose Variety</option>
                                    <option *ngFor="let v of variety" [ngValue]="v">{{v|titlecase}}</option>
                                </select>
                            </div>
                        </div>
                        <div *ngIf="cat == 'Seed Classification'" class="my-2 row">
                            <div class="col-lg-6">
                                <select name="seedclass" [(ngModel)]="seedclass" class="form-control">
                                    <option selected="selected" disabled>Choose Classification</option>
                                    <option *ngFor="let c of classification" [ngValue]="c">{{c|titlecase}}</option>
                                </select>
                            </div>
                            <div class="col-lg-6">
                                <select name="seedclass1" [(ngModel)]="seedclass1" class="form-control">
                                    <option selected="selected" disabled>Choose Classification</option>
                                    <option *ngFor="let c of classification" [ngValue]="c">{{c|titlecase}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-sm btn-primary">Submit</button>
                </div>
            </form> 
        </div>
    </div>
    <div class="row mx-0">
        <div class="col-lg-8 mx-auto my-2">
            <div style="display: block">
                <canvas mdbChart
                    [chartType]="chartType"
                    [datasets]="chartDatasets"
                    [labels]="chartLabels"
                    [colors]="chartColors"
                    [options]="chartOptions"
                    [legend]="true"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)">
                </canvas>
            </div>
        </div>
    </div>
</div>
<!-- total Sales: {{totalSales}}
<br>
Number of Seed Sold: {{totalCount}} -->

<ng-template #logout let-modal>
    <div class="modal-header bg-danger text-light">
        <h5 class="modal-title">Are you sure you want to Logout?</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body d-flex justify-content-center">
        <button type="button" (click)="clickLogout(modal.dismiss())" class="btn btn-danger hvr-buzz">YES</button>
        <button type="button" (click)="modal.dismiss()" class="btn btn-light">Cancel</button>
    </div>
</ng-template>